<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>
        {% block titulo%}
        FakePinterest
        {% endblock %}
    </title>



    <meta charset= "UTF-8">
    <meta http-equiv= "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name= "author" content="Bruno Sarmento">
    <meta name= "description" content="Projeto FakePinterest para treinar Flask e Python">
    <!-- descrição do que vai ter na página -->
    <meta content= "Python, Flask, HTML, CSS" name= "keywords"> <!-- palavras chave (separadas por virgula) -->

</head>

{% block body %}
<body>

<h1>FakePinterest</h1>

</body>
{% endblock %}





</html>